################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backup/SysTrayDemo.sln
/Debug/SysTrayDemo.pdb
/Debug/SysTrayDemo.ilk
/Debug/SysTrayDemo.exe
/ipch/SYSTRAYDEMO-efb19fd/SYSTRAYDEMO-1e38dab0.ipch
/UpgradeLog.htm
/SysTrayDemo.VC.VC.opendb
/SysTrayDemo.VC.db
/SysTrayDemo/SysTrayDemo.vcxproj.filters
/SysTrayDemo/SysTrayDemo.vcproj.markz_lap.Mark Zitnik.user
/SysTrayDemo/SysTrayDemo.vcproj
/SysTrayDemo/SysTrayDemo.aps
/SysTrayDemo/Debug/vc140.pdb
/SysTrayDemo/Debug/vc140.idb
/SysTrayDemo/Debug/SysTrayDemo.tlog/SysTrayDemo.lastbuildstate
/SysTrayDemo/Debug/SysTrayDemo.tlog/rc.write.1.tlog
/SysTrayDemo/Debug/SysTrayDemo.tlog/rc.read.1.tlog
/SysTrayDemo/Debug/SysTrayDemo.tlog/rc.command.1.tlog
/SysTrayDemo/Debug/SysTrayDemo.tlog/link.write.1.tlog
/SysTrayDemo/Debug/SysTrayDemo.tlog/link.read.1.tlog
/SysTrayDemo/Debug/SysTrayDemo.tlog/link.command.1.tlog
/SysTrayDemo/Debug/SysTrayDemo.tlog/CL.write.1.tlog
/SysTrayDemo/Debug/SysTrayDemo.tlog/CL.read.1.tlog
/SysTrayDemo/Debug/SysTrayDemo.tlog/CL.command.1.tlog
/SysTrayDemo/Debug/SysTrayDemo.res
/SysTrayDemo/Debug/SysTrayDemo.pch
/SysTrayDemo/Debug/SysTrayDemo.obj
/SysTrayDemo/Debug/SysTrayDemo.log
/SysTrayDemo/Debug/stdafx.obj
/SysTrayDemo/Debug/BuildLog.htm
